@tailwind base;
@tailwind components;
@tailwind utilities;

#vauxs-archive .window-content {
	@apply p-2;
}

#vauxs-archive {
	min-width: 600px;
	min-height: 330px;

	.window-content {
		overflow: inherit;
	}

	.window-content > * {
		flex: unset;
	}

	[disabled] {
		@apply opacity-60 cursor-not-allowed;
	}
}

